@layer theme, base, components, utilities;
@import "tailwindcss/theme.css";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }
}

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-lapor-green: #5f8b4c;
  --color-lapor-yellow: #ffddab;
  --color-lapor-pink: #ff9a9a;
  --color-lapor-brown: #945034;
  --color-lapor-success: #55c055;
  --color-lapor-red: #b32349;
  --color-lapor-black: #2c2c2c;
  --color-lapor-white: #e3e3e3;
  --color-lapor-gray: #6f6d6d;
  --color-lapor-pink-light: #f8cff1;
}
